@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: white; */
  font: inherit;
  font-family: "Ubuntu", serif;
}

body {
  background: #000;
}

.movie-banner-bg {
  background-image: url("/public/assets/images/Movie\ Wallpaper.svg");
  background-size: cover;
  /* filter: brightness(25%); */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.shadow-inner-xl {
  box-shadow: inset 0px 0px 70px 150px rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero-text {
  text-shadow: #000 1px 1px 0, 0px 0px 10px #7A7A7A;

}


.hero-text span {
  text-shadow: none;
}

.screen-max-width {
  margin-inline-start: auto;
  margin-inline-end: auto;
  position: relative;
  max-width: 1120px;
}

.transform-perspective {
  transform: perspective(75em) rotateX(18deg);
}

.threeD_img {
  --d: 7px; /* the depth */
  --a: 15deg; /* the angle */

  /* the below value is based on the depth and the angle.
       the formula is a bit difficult to express so we update it manually
    */
  --x: 10px;

  width: 300px; /* control the size */
  aspect-ratio: 0.75; /* you can use 1 as ratio but I found 1.1 a little better */
  padding-block: var(--d);
  /* transform: perspective(444px) rotatex(calc(var(--_i,1)*var(--a))); */
  outline: var(--d) solid #0008;
  outline-offset: calc(-1 * var(--d));
  --_d: calc(100% - var(--d));
  --_l: 0px;
  --_r: 0px;
  --_l: var(--d);
  --_r: var(--d);
  --_i: -1;
  clip-path: polygon(
    var(--_l) calc(var(--_d) - var(--x)),
    var(--_l) calc(var(--d) + var(--x)),
    var(--d) var(--d),
    var(--_d) var(--d),
    calc(var(--_d) + var(--_r)) calc(var(--d) + var(--x)),
    calc(var(--_d) + var(--_r)) calc(var(--_d) - var(--x)),
    var(--_d) var(--_d),
    var(--d) var(--_d)
  );
  transition:
    transform 0.3s,
    --_r 0.15s,
    --_l 0.15s 0.15s;
  transition-timing-function: linear;
}
.threeD_img:hover {
  --_l: var(--d);
  --_r: var(--d);
  --_i: -1;
  transition-delay: 0s, 0.15s, 0s;
}

.swiper-pagination .swiper-pagination-bullet {
  background-color: aliceblue;
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

/* .swiper-button-prev {
  background-image: url(../public/assets/images/circle-chevron-left-solid.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  border-radius: 50px;
  color:white;
}
.swiper-button-next {
  background-image: url(../public/assets/images/circle-chevron-right-solid.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  border-radius: 50px;
} */

/* 

*/

.swiper-slide {
 display: flex !important;
 align-items: center !important;
 justify-content: center !important;
}

.test-navbar {
 border: 1px solid rgba(255, 255, 255, .15);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: 0 4px 12px 1px rgba(255, 255, 255, 0.25);

  backdrop-filter: blur(8px);
}




@layer utilities {
  h1 {
    @apply text-3xl font-bold sm:text-4xl md:text-5xl lg:text-6xl;
  }

  h3 {
    @apply text-sm font-medium sm:text-base md:text-lg lg:text-xl;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .nav-height {
    @apply h-[calc(100vh-60px)];
  }
  .hero-height {
    @apply h-[calc(100vh-120px)];
  }

  .select-anim {
    @apply bg-inherit opacity-0 focus:outline-none transition-all duration-300 ease-in-out group-focus:w-64 group-hover:w-64 group-active:w-64 group-focus:opacity-100 group-active:opacity-100 group-hover:opacity-100;
  }

  .glass-effect {
    @apply backdrop-blur-lg bg-gray-800/50 shadow border border-gray-500;
  }

  .movie-card {
    @apply max-w-[300px] max-h-[444px] aspect-[4.44/3] h-full w-full;
  }
  .movie-card-img {
    @apply sm:w-[300px] sm:h-[444px];
  }
  /* .movie-card-img {
    @apply sm:w-[300px] sm:h-[444px] max-[400px]:min-w-[250px] max-[400px]:min-h-[355px]  ;
  }
  
   */
  .image-lift {
    @apply shadow-[rgba(22,31,39,0.42)_0px_60px_123px_-25px,rgba(19,26,32,0.08)_0px_35px_75px_-35px] border rounded-[10px] border-solid border-[rgb(213,220,226)_rgb(213,220,226)_rgb(184,194,204)] origin-top transform-perspective;
  }

  .card-hover-shadow {
    @apply shadow-[2px_4px_12px_6px_#555555] bg-[#777777] mx-auto border border-gray-500;
  }
  .card-shadow-dark {
    @apply shadow-[2px_4px_12px_6px_#000]  mx-auto ;
  }

  .transition-group {
    @apply transition ease-in-out duration-500;
  }

  .transition-secondary {
    @apply transition ease-in duration-300 delay-300;
  }

  .mobile-grid {
    @apply grid grid-cols-1 grid-rows-10 gap-8;
  }
  .md-grid {
    @apply grid grid-cols-2 grid-rows-5 gap-8;
  }
  .xl-grid {
    @apply grid grid-cols-3 grid-rows-5 gap-10;
  }
}
